In [1]:
def hello(name):
    return f'Hello, {name}'

In [2]:
hello('world')

'Hello, world'

In [4]:
hello('radware!!!!')

'Hello, radware!!!!'

In [5]:
# github.com/reuven/radware-0120

In [7]:
print('abc')   # enter == newline
print('def')   # enter == newline
print('ghi!!')  # shift + enter == execute the cell

abc
def
ghi!!

In [7]:
print('abc')   # enter == newline
print('def')   # enter == newline
print('ghi!!')  # shift + enter == execute the cell

abc
def
ghi!!

In [ ]:
pip3 install jupyter
jupyter notebook

In [8]:
x = 100
y = 100

x == y

True

In [9]:
x is y

True

In [10]:
x = 1000
y = 1000

x == y

True

In [11]:
x is y

False

In [12]:
id(x)

4618916784

In [13]:
id(y)

4618916624

In [14]:
x is y   # id(x) == id(y)

False

In [15]:
id(100)

4563752960

In [16]:
id(101)

4563752992

In [17]:
id(102)

4563753024

In [18]:
id(x)

4618916784

In [19]:
x = 100
id(x)

4563752960

In [20]:
id(100)

4563752960

In [21]:
x = 1000
y = 1000

x is y

False

In [22]:
x = 'abcd'
y = 'abcd'

In [23]:
x == y

True

In [24]:
x is y

True

In [25]:
x = 'abc!'
y = 'abc!'

x == y

True

In [26]:
x is y

False

In [27]:
x = 'a' * 100000
y = 'a' * 100000

In [28]:
x == y

True

In [29]:
x is y

False

In [30]:
x = 'abcd'

In [31]:
y = 'abcd'

In [32]:
x is y

True

In [33]:
x = 'ab d'
y = 'ab d'

In [34]:
x == y

True

In [35]:
x is y

False

In [37]:
import sys
x = sys.intern('ab d')
y = sys.intern('ab d')

In [38]:
x is y

True

In [39]:
x = y
x is y

True

In [40]:
x = 100
y = x

x = 200
y

100

In [41]:
x = {'a':1, 'b':2, 'c':3}
y = x

x = {'x':100, 'y':200}
y

{'a': 1, 'b': 2, 'c': 3}

In [42]:
x = {'a':1, 'b':2, 'c':3}
y = x

x['d'] = 4000
y

{'a': 1, 'b': 2, 'c': 3, 'd': 4000}

In [43]:
first = 'Reuven'
last = 'Lerner'

print("Hello, " + first + " " + last + '.  How are you?')

Hello, Reuven Lerner.  How are you?

In [44]:
print(f'Hello, {first} {last}.  How are you?')

Hello, Reuven Lerner.  How are you?

In [ ]:
f'{x=} and {y=}   # x = 100 and y = 200

In [46]:
number = 100

print(f'{first}, your number is {number}')

Reuven, your number is 100

In [47]:
print(f'{first}, your number * 3 is {number*3}')

Reuven, your number * 3 is 300

In [49]:
mylist = [10, 20, 30, 40, 50]

30 in mylist   # O(n)

True

In [50]:
30 in 100

TypeError: argument of type 'int' is not iterable

In [51]:
d = {'a':1, 'b':2, 'c':3, 'd':4}

'c' in d   # O(1)

True

In [52]:
d = {}
d['a'] = 1

In [54]:
hash('a') % 8

1

In [55]:
d['b'] = 2
hash('b') % 8

1

In [56]:
d = {}

In [57]:
d['a'] = 1

In [58]:
hash('a') % 8

1

In [59]:
'a' in d

True

In [60]:
d['x'] = 2
hash('x') % 8

2

In [61]:
d.pop('a')

1

In [62]:
d['a'] = 999
d.keys()

dict_keys(['x', 'a'])

In [63]:
d[mylist] = 100

TypeError: unhashable type: 'list'

In [64]:
# github.com/reuven/radware-0120

In [ ]:
d = {'a':1, 'b':2, 'c':3}

while True:
    key = input("Enter key: ").strip()

    if not key:    #  if key == ''
        break
        
    elif key in d:
        print(f'd[{key}] == {d[key]}')
        
    else:
        print(f'{key} is not a key in d')

In [65]:
bool('abcd')

True

In [66]:
bool('')

False

In [67]:
int('123')

123

In [68]:
float('123')

123.0

In [69]:
bool([10, 20, 30])

True

In [70]:
bool([])

False

In [71]:
bool(d)

True

In [72]:
bool({})

False

In [73]:
d = {'a':1, 'b':2, 'c':3}

# assignment expression
# walrus 

while key := input("Enter key: ").strip():

    if key in d:
        print(f'd[{key}] == {d[key]}')
        
    else:
        print(f'{key} is not a key in d')

SyntaxError: invalid syntax (<ipython-input-73-5b7562354d36>, line 3)

In [74]:
d

{'x': 2, 'a': 999}

In [76]:
d.get('q') # if 'q' in d, d['q'] else None

In [77]:
d.get('q', 'abcd') # if 'q' in d, d['q'] else 'abcd'

'abcd'

In [78]:
d

{'x': 2, 'a': 999}

In [79]:
d.setdefault('q', 100)

100

In [80]:
d

{'x': 2, 'a': 999, 'q': 100}

In [83]:
d = {'a':1, 'b':2, 'c':3}
d.setdefault('q', 100)

100

In [84]:
d

{'a': 1, 'b': 2, 'c': 3, 'q': 100}

In [85]:
d.setdefault('q', 200)

100

In [ ]:
City: Tel Aviv
Rain: 5
City: Jerusalem
Rain: 2
City: Tel Aviv
Rain: 7
City: <enter>
    
Tel Aviv: 12
Jerusalem: 2

In [91]:
rainfall = {}
while True:
    city_name = input("Enter city: ").strip()
    if not city_name:
        break
        
    mm_rain = input("Enter mm rain: ").strip()
    mm_rain = int(mm_rain)
    
    rainfall[city_name] = rainfall.get(city_name, 0) + mm_rain
    
for one_item in rainfall:
    print(one_item)

Enter city: a
Enter mm rain: 5
Enter city: b
Enter mm rain: 6
Enter city: a
Enter mm rain: 7
Enter city:
a
b

In [94]:
for key, value in rainfall.items():
    print(f'{key}: {value}')

a: 12
b: 6

In [95]:
for one_item in rainfall.items():
    print(one_item)

('a', 12)
('b', 6)

In [96]:
mylist = [10, 20, 30]
a = mylist

a

[10, 20, 30]

In [97]:
a,b,c = mylist  # unpacking
a

10

In [98]:
b

20

In [99]:
c

30

In [101]:
mylist = [10, 20, 30, 40, 50]
a,*b = mylist

In [102]:
a

10

In [103]:
b

[20, 30, 40, 50]

In [104]:
a,*b, c = mylist

In [105]:
a

10

In [106]:
b

[20, 30, 40]

In [107]:
c

50

In [109]:
a,*b,*c,d = mylist

SyntaxError: two starred expressions in assignment (<ipython-input-109-af335edc316b>, line 4)

In [110]:
d = {'a':1, 'bcd':2345, 'ef':67890, 'g':1234}

In [114]:
for key, value in d.items():
    print(f'{key:10}:{value:5}')

a         :    1
bcd       : 2345
ef        :67890
g         : 1234

In [116]:
for key, value in d.items():
    print(f'{key:.<10}{value:.>5}')

a.............1
bcd........2345
ef........67890
g..........1234

In [117]:
n = 10
for key, value in d.items():
    print(f'{key:.<n}{value:.>5}')

ValueError: Unknown format code 'n' for object of type 'str'

In [121]:
for key, value in d.items():
    print(f'{key:.<5}{value:.>5}')

a........1
bcd...2345
ef...67890
g.....1234

In [122]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  "def hello(name):\n    return f'Hello, {name}'",
  "hello('world')",
  "hello('radware')",
  "hello('radware!!!!')",
  '# github.com/reuven/radware-0120',
  "print('abc')   # enter == newline\nprint('def')   # enter == newline\nprint('ghi')  # shift + enter == execute the cell",
  "print('abc')   # enter == newline\nprint('def')   # enter == newline\nprint('ghi!!')  # shift + enter == execute the cell",
  'x = 100\ny = 100\n\nx == y',
  'x is y',
  'x = 1000\ny = 1000\n\nx == y',
  'x is y',
  'id(x)',
  'id(y)',
  'x is y   # id(x) == id(y)',
  'id(100)',
  'id(101)',
  'id(102)',
  'id(x)',
  'x = 100\nid(x)',
  'id(100)',
  'x = 1000\ny = 1000\n\nx is y',
  "x = 'abcd'\ny = 'abcd'",
  'x == y',
  'x is y',
  "x = 'abc!'\ny = 'abc!'\n\nx == y",
  'x is y',
  "x = 'a' * 100000\ny = 'a' * 100000",
  'x == y',
  'x is y',
  "x = 'abcd'",
  "y = 'abcd'",
  'x is y',
  "x = 'ab d'\ny = 'ab d'",
  'x == y',
  'x is y',
  "x = intern('ab d')\ny = intern('ab d')",
  "import sys\nx = sys.intern('ab d')\ny = sys.intern('ab d')",
  'x is y',
  'x = y\nx is y',
  'x = 100\ny = x\n\nx = 200\ny',
  "x = {'a':1, 'b':2, 'c':3}\ny = x\n\nx = {'x':100, 'y':200}\ny",
  "x = {'a':1, 'b':2, 'c':3}\ny = x\n\nx['d'] = 4000\ny",
  'first = \'Reuven\'\nlast = \'Lerner\'\n\nprint("Hello, " + first + " " + last + \'.  How are you?\')',
  "print(f'Hello, {first} {last}.  How are you?')",
  "number = 100\n\nprint(f'{name}, your number is {number}')",
  "number = 100\n\nprint(f'{first}, your number is {number}')",
  "print(f'{first}, your number * 3 is {number*3}')",
  'mylist = [10, 20, 30, 40, 50]\n\n30 in mylist',
  'mylist = [10, 20, 30, 40, 50]\n\n30 in mylist   # O(n)',
  '30 in 100',
  "d = {'a':1, 'b':2, 'c':3, 'd':4}\n\n'c' in d",
  "d = {}\nd['a'] = 1  ",
  "hash('a')",
  "hash('a') % 8",
  "d['b'] = 2\nhash('b') % 8",
  'd = {}',
  "d['a'] = 1",
  "hash('a') % 8",
  "'a' in d",
  "d['x'] = 2\nhash('x') % 8",
  "d.pop('a')",
  "d['a'] = 999\nd.keys()",
  'd[mylist] = 100',
  '# github.com/reuven/radware-0120',
  "bool('abcd')",
  "bool('')",
  "int('123')",
  "float('123')",
  'bool([10, 20, 30])',
  'bool([])',
  'bool(d)',
  'bool({})',
  'd = {\'a\':1, \'b\':2, \'c\':3}\n\nwhile key = input("Enter key: ").strip():\n\n    if key in d:\n        print(f\'d[{key}] == {d[key]}\')\n        \n    else:\n        print(f\'{key} is not a key in d\')',
  'd',
  "d['q']",
  "d.get('q') # if 'q' in d, d['q'] else None",
  "d.get('q', 'abcd') # if 'q' in d, d['q'] else 'abcd'",
  'd',
  "d.setdefault('q', 100)",
  'd',
  "d['q'] = 200",
  "d = {'a':1, 'b';2, 'c':3}\nd.setdefault('q', 100)",
  "d = {'a':1, 'b':2, 'c':3}\nd.setdefault('q', 100)",
  'd',
  "d.setdefault('q', 200)",
  'rainfall = {}\nwhile True:\n    city_name = input("Enter city: ").strip()\n    if not city_name:\n        break\n        \n    mm_rain = input("Enter mm rain: ").strip()\n    rainfall[city_name] = mm_rain\n    \nprint(rainfall)',
  'rainfall = {}\nwhile True:\n    city_name = input("Enter city: ").strip()\n    if not city_name:\n        break\n        \n    mm_rain = input("Enter mm rain: ").strip()\n    rainfall[city_name] += mm_rain\n    \nprint(rainfall)',
  'rainfall = {}\nwhile True:\n    city_name = input("Enter city: ").strip()\n    if not city_name:\n        break\n        \n    mm_rain = input("Enter mm rain: ").strip()\n    if city_name in rainfall:\n        rainfall[city_name] += mm_rain\n    else:\n        rainfall[city_name] = mm_rain\n    \nprint(rainfall)',
  'rainfall = {}\nwhile True:\n    city_name = input("Enter city: ").strip()\n    if not city_name:\n        break\n        \n    mm_rain = input("Enter mm rain: ").strip()\n    mm_rain = int(mm_rain)\n    \n    if city_name in rainfall:\n        rainfall[city_name] += mm_rain\n    else:\n        rainfall[city_name] = mm_rain\n    \nprint(rainfall)',
  'rainfall = {}\nwhile True:\n    city_name = input("Enter city: ").strip()\n    if not city_name:\n        break\n        \n    mm_rain = input("Enter mm rain: ").strip()\n    mm_rain = int(mm_rain)\n    \n    rainfall[city_name] = rainfall.get(city_name, 0) + mm_rain\n    \nprint(rainfall)',
  'rainfall = {}\nwhile True:\n    city_name = input("Enter city: ").strip()\n    if not city_name:\n        break\n        \n    mm_rain = input("Enter mm rain: ").strip()\n    mm_rain = int(mm_rain)\n    \n    rainfall[city_name] = rainfall.get(city_name, 0) + mm_rain\n    \nfor one_item in rainfall:\n    print(one_item)',
  'for one_item in rainfall:\n    print(one_item)',
  "for key in rainfall:\n    print(f'{key}: {rainfall[key]}')",
  "for key, value in rainfall.items():\n    print(f'{key}: {value}')",
  'for one_item in rainfall.items():\n    print(one_item)',
  'mylist = [10, 20, 30]\na = mylist\n\na',
  'a,b,c = mylist\na',
  'b',
  'c',
  'mylist = [10, 20, 30, 40, 50]\na,b = mylist',
  'mylist = [10, 20, 30, 40, 50]\na,*b = mylist',
  'a',
  'b',
  'a,*b, c = mylist',
  'a',
  'b',
  'c',
  'a,*b,*c,d',
  'a,*b,*c,d = mylist',
  "d = {'a':1, 'bcd':2345, 'ef':67890, 'g':1234}",
  "for key, value in d.items():\n    print(f'{key}:{value}')",
  "for key, value in d.items():\n    print(f'{key:10}:{value:5}')",
  "for key, value in d.items():\n    print(f'{key:.<10}:{value:.>5}')",
  "for key, value in d.items():\n    print(f'{key:10}:{value:5}')",
  "for key, value in d.items():\n    print(f'{key:.<10}:{value:.>5}')",
  "for key, value in d.items():\n    print(f'{key:.<10}{value:.>5}')",
  "n = 10\nfor key, value in d.items():\n    print(f'{key:.<n}{value:.>5}')",
  "for key, value in d.items():\n    print(f'{key:.<3}{value:.>5}')",
  "for key, value in d.items():\n    print(f'{key:.<2}{value:.>5}')",
  "for key, value in d.items():\n    print(f'{key:.<2.5}{value:.>5}')",
  "for key, value in d.items():\n    print(f'{key:.<5}{value:.>5}')",
  'globals()'],
 '_oh': {2: 'Hello, world',
  3: 'Hello, radware',
  4: 'Hello, radware!!!!',
  8: True,
  9: True,
  10: True,
  11: False,
  12: 4618916784,
  13: 4618916624,
  14: False,
  15: 4563752960,
  16: 4563752992,
  17: 4563753024,
  18: 4618916784,
  19: 4563752960,
  20: 4563752960,
  21: False,
  23: True,
  24: True,
  25: True,
  26: False,
  28: True,
  29: False,
  32: True,
  34: True,
  35: False,
  38: True,
  39: True,
  40: 100,
  41: {'a': 1, 'b': 2, 'c': 3},
  42: {'a': 1, 'b': 2, 'c': 3, 'd': 4000},
  48: True,
  49: True,
  51: True,
  53: -8524206456043343855,
  54: 1,
  55: 1,
  58: 1,
  59: True,
  60: 2,
  61: 1,
  62: dict_keys(['x', 'a', 'q']),
  65: True,
  66: False,
  67: 123,
  68: 123.0,
  69: True,
  70: False,
  71: True,
  72: False,
  74: {'x': 2, 'a': 999, 'q': 200},
  77: 'abcd',
  78: {'x': 2, 'a': 999, 'q': 200},
  79: 100,
  80: {'x': 2, 'a': 999, 'q': 200},
  83: 100,
  84: {'a': 1, 'b': 2, 'c': 3, 'q': 100},
  85: 100,
  96: [10, 20, 30],
  97: 10,
  98: 20,
  99: 30,
  102: 10,
  103: [20, 30, 40, 50],
  105: 10,
  106: [20, 30, 40],
  107: 50},
 '_dh': ['/Users/reuven/Consulting/Courses/Python/radware-0120'],
 'In': ['',
  "def hello(name):\n    return f'Hello, {name}'",
  "hello('world')",
  "hello('radware')",
  "hello('radware!!!!')",
  '# github.com/reuven/radware-0120',
  "print('abc')   # enter == newline\nprint('def')   # enter == newline\nprint('ghi')  # shift + enter == execute the cell",
  "print('abc')   # enter == newline\nprint('def')   # enter == newline\nprint('ghi!!')  # shift + enter == execute the cell",
  'x = 100\ny = 100\n\nx == y',
  'x is y',
  'x = 1000\ny = 1000\n\nx == y',
  'x is y',
  'id(x)',
  'id(y)',
  'x is y   # id(x) == id(y)',
  'id(100)',
  'id(101)',
  'id(102)',
  'id(x)',
  'x = 100\nid(x)',
  'id(100)',
  'x = 1000\ny = 1000\n\nx is y',
  "x = 'abcd'\ny = 'abcd'",
  'x == y',
  'x is y',
  "x = 'abc!'\ny = 'abc!'\n\nx == y",
  'x is y',
  "x = 'a' * 100000\ny = 'a' * 100000",
  'x == y',
  'x is y',
  "x = 'abcd'",
  "y = 'abcd'",
  'x is y',
  "x = 'ab d'\ny = 'ab d'",
  'x == y',
  'x is y',
  "x = intern('ab d')\ny = intern('ab d')",
  "import sys\nx = sys.intern('ab d')\ny = sys.intern('ab d')",
  'x is y',
  'x = y\nx is y',
  'x = 100\ny = x\n\nx = 200\ny',
  "x = {'a':1, 'b':2, 'c':3}\ny = x\n\nx = {'x':100, 'y':200}\ny",
  "x = {'a':1, 'b':2, 'c':3}\ny = x\n\nx['d'] = 4000\ny",
  'first = \'Reuven\'\nlast = \'Lerner\'\n\nprint("Hello, " + first + " " + last + \'.  How are you?\')',
  "print(f'Hello, {first} {last}.  How are you?')",
  "number = 100\n\nprint(f'{name}, your number is {number}')",
  "number = 100\n\nprint(f'{first}, your number is {number}')",
  "print(f'{first}, your number * 3 is {number*3}')",
  'mylist = [10, 20, 30, 40, 50]\n\n30 in mylist',
  'mylist = [10, 20, 30, 40, 50]\n\n30 in mylist   # O(n)',
  '30 in 100',
  "d = {'a':1, 'b':2, 'c':3, 'd':4}\n\n'c' in d",
  "d = {}\nd['a'] = 1  ",
  "hash('a')",
  "hash('a') % 8",
  "d['b'] = 2\nhash('b') % 8",
  'd = {}',
  "d['a'] = 1",
  "hash('a') % 8",
  "'a' in d",
  "d['x'] = 2\nhash('x') % 8",
  "d.pop('a')",
  "d['a'] = 999\nd.keys()",
  'd[mylist] = 100',
  '# github.com/reuven/radware-0120',
  "bool('abcd')",
  "bool('')",
  "int('123')",
  "float('123')",
  'bool([10, 20, 30])',
  'bool([])',
  'bool(d)',
  'bool({})',
  'd = {\'a\':1, \'b\':2, \'c\':3}\n\nwhile key = input("Enter key: ").strip():\n\n    if key in d:\n        print(f\'d[{key}] == {d[key]}\')\n        \n    else:\n        print(f\'{key} is not a key in d\')',
  'd',
  "d['q']",
  "d.get('q') # if 'q' in d, d['q'] else None",
  "d.get('q', 'abcd') # if 'q' in d, d['q'] else 'abcd'",
  'd',
  "d.setdefault('q', 100)",
  'd',
  "d['q'] = 200",
  "d = {'a':1, 'b';2, 'c':3}\nd.setdefault('q', 100)",
  "d = {'a':1, 'b':2, 'c':3}\nd.setdefault('q', 100)",
  'd',
  "d.setdefault('q', 200)",
  'rainfall = {}\nwhile True:\n    city_name = input("Enter city: ").strip()\n    if not city_name:\n        break\n        \n    mm_rain = input("Enter mm rain: ").strip()\n    rainfall[city_name] = mm_rain\n    \nprint(rainfall)',
  'rainfall = {}\nwhile True:\n    city_name = input("Enter city: ").strip()\n    if not city_name:\n        break\n        \n    mm_rain = input("Enter mm rain: ").strip()\n    rainfall[city_name] += mm_rain\n    \nprint(rainfall)',
  'rainfall = {}\nwhile True:\n    city_name = input("Enter city: ").strip()\n    if not city_name:\n        break\n        \n    mm_rain = input("Enter mm rain: ").strip()\n    if city_name in rainfall:\n        rainfall[city_name] += mm_rain\n    else:\n        rainfall[city_name] = mm_rain\n    \nprint(rainfall)',
  'rainfall = {}\nwhile True:\n    city_name = input("Enter city: ").strip()\n    if not city_name:\n        break\n        \n    mm_rain = input("Enter mm rain: ").strip()\n    mm_rain = int(mm_rain)\n    \n    if city_name in rainfall:\n        rainfall[city_name] += mm_rain\n    else:\n        rainfall[city_name] = mm_rain\n    \nprint(rainfall)',
  'rainfall = {}\nwhile True:\n    city_name = input("Enter city: ").strip()\n    if not city_name:\n        break\n        \n    mm_rain = input("Enter mm rain: ").strip()\n    mm_rain = int(mm_rain)\n    \n    rainfall[city_name] = rainfall.get(city_name, 0) + mm_rain\n    \nprint(rainfall)',
  'rainfall = {}\nwhile True:\n    city_name = input("Enter city: ").strip()\n    if not city_name:\n        break\n        \n    mm_rain = input("Enter mm rain: ").strip()\n    mm_rain = int(mm_rain)\n    \n    rainfall[city_name] = rainfall.get(city_name, 0) + mm_rain\n    \nfor one_item in rainfall:\n    print(one_item)',
  'for one_item in rainfall:\n    print(one_item)',
  "for key in rainfall:\n    print(f'{key}: {rainfall[key]}')",
  "for key, value in rainfall.items():\n    print(f'{key}: {value}')",
  'for one_item in rainfall.items():\n    print(one_item)',
  'mylist = [10, 20, 30]\na = mylist\n\na',
  'a,b,c = mylist\na',
  'b',
  'c',
  'mylist = [10, 20, 30, 40, 50]\na,b = mylist',
  'mylist = [10, 20, 30, 40, 50]\na,*b = mylist',
  'a',
  'b',
  'a,*b, c = mylist',
  'a',
  'b',
  'c',
  'a,*b,*c,d',
  'a,*b,*c,d = mylist',
  "d = {'a':1, 'bcd':2345, 'ef':67890, 'g':1234}",
  "for key, value in d.items():\n    print(f'{key}:{value}')",
  "for key, value in d.items():\n    print(f'{key:10}:{value:5}')",
  "for key, value in d.items():\n    print(f'{key:.<10}:{value:.>5}')",
  "for key, value in d.items():\n    print(f'{key:10}:{value:5}')",
  "for key, value in d.items():\n    print(f'{key:.<10}:{value:.>5}')",
  "for key, value in d.items():\n    print(f'{key:.<10}{value:.>5}')",
  "n = 10\nfor key, value in d.items():\n    print(f'{key:.<n}{value:.>5}')",
  "for key, value in d.items():\n    print(f'{key:.<3}{value:.>5}')",
  "for key, value in d.items():\n    print(f'{key:.<2}{value:.>5}')",
  "for key, value in d.items():\n    print(f'{key:.<2.5}{value:.>5}')",
  "for key, value in d.items():\n    print(f'{key:.<5}{value:.>5}')",
  'globals()'],
 'Out': {2: 'Hello, world',
  3: 'Hello, radware',
  4: 'Hello, radware!!!!',
  8: True,
  9: True,
  10: True,
  11: False,
  12: 4618916784,
  13: 4618916624,
  14: False,
  15: 4563752960,
  16: 4563752992,
  17: 4563753024,
  18: 4618916784,
  19: 4563752960,
  20: 4563752960,
  21: False,
  23: True,
  24: True,
  25: True,
  26: False,
  28: True,
  29: False,
  32: True,
  34: True,
  35: False,
  38: True,
  39: True,
  40: 100,
  41: {'a': 1, 'b': 2, 'c': 3},
  42: {'a': 1, 'b': 2, 'c': 3, 'd': 4000},
  48: True,
  49: True,
  51: True,
  53: -8524206456043343855,
  54: 1,
  55: 1,
  58: 1,
  59: True,
  60: 2,
  61: 1,
  62: dict_keys(['x', 'a', 'q']),
  65: True,
  66: False,
  67: 123,
  68: 123.0,
  69: True,
  70: False,
  71: True,
  72: False,
  74: {'x': 2, 'a': 999, 'q': 200},
  77: 'abcd',
  78: {'x': 2, 'a': 999, 'q': 200},
  79: 100,
  80: {'x': 2, 'a': 999, 'q': 200},
  83: 100,
  84: {'a': 1, 'b': 2, 'c': 3, 'q': 100},
  85: 100,
  96: [10, 20, 30],
  97: 10,
  98: 20,
  99: 30,
  102: 10,
  103: [20, 30, 40, 50],
  105: 10,
  106: [20, 30, 40],
  107: 50},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x1132bf9d0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x1132d9a50>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x1132d9a50>,
 '_': 50,
 '__': [20, 30, 40],
 '___': 10,
 '_i': "for key, value in d.items():\n    print(f'{key:.<5}{value:.>5}')",
 '_ii': "for key, value in d.items():\n    print(f'{key:.<2.5}{value:.>5}')",
 '_iii': "for key, value in d.items():\n    print(f'{key:.<2}{value:.>5}')",
 '_i1': "def hello(name):\n    return f'Hello, {name}'",
 'hello': <function __main__.hello(name)>,
 '_i2': "hello('world')",
 '_2': 'Hello, world',
 '_i3': "hello('radware')",
 '_3': 'Hello, radware',
 '_i4': "hello('radware!!!!')",
 '_4': 'Hello, radware!!!!',
 '_i5': '# github.com/reuven/radware-0120',
 '_i6': "print('abc')   # enter == newline\nprint('def')   # enter == newline\nprint('ghi')  # shift + enter == execute the cell",
 '_i7': "print('abc')   # enter == newline\nprint('def')   # enter == newline\nprint('ghi!!')  # shift + enter == execute the cell",
 '_i8': 'x = 100\ny = 100\n\nx == y',
 'x': {'a': 1, 'b': 2, 'c': 3, 'd': 4000},
 'y': {'a': 1, 'b': 2, 'c': 3, 'd': 4000},
 '_8': True,
 '_i9': 'x is y',
 '_9': True,
 '_i10': 'x = 1000\ny = 1000\n\nx == y',
 '_10': True,
 '_i11': 'x is y',
 '_11': False,
 '_i12': 'id(x)',
 '_12': 4618916784,
 '_i13': 'id(y)',
 '_13': 4618916624,
 '_i14': 'x is y   # id(x) == id(y)',
 '_14': False,
 '_i15': 'id(100)',
 '_15': 4563752960,
 '_i16': 'id(101)',
 '_16': 4563752992,
 '_i17': 'id(102)',
 '_17': 4563753024,
 '_i18': 'id(x)',
 '_18': 4618916784,
 '_i19': 'x = 100\nid(x)',
 '_19': 4563752960,
 '_i20': 'id(100)',
 '_20': 4563752960,
 '_i21': 'x = 1000\ny = 1000\n\nx is y',
 '_21': False,
 '_i22': "x = 'abcd'\ny = 'abcd'",
 '_i23': 'x == y',
 '_23': True,
 '_i24': 'x is y',
 '_24': True,
 '_i25': "x = 'abc!'\ny = 'abc!'\n\nx == y",
 '_25': True,
 '_i26': 'x is y',
 '_26': False,
 '_i27': "x = 'a' * 100000\ny = 'a' * 100000",
 '_i28': 'x == y',
 '_28': True,
 '_i29': 'x is y',
 '_29': False,
 '_i30': "x = 'abcd'",
 '_i31': "y = 'abcd'",
 '_i32': 'x is y',
 '_32': True,
 '_i33': "x = 'ab d'\ny = 'ab d'",
 '_i34': 'x == y',
 '_34': True,
 '_i35': 'x is y',
 '_35': False,
 '_i36': "x = intern('ab d')\ny = intern('ab d')",
 '_i37': "import sys\nx = sys.intern('ab d')\ny = sys.intern('ab d')",
 'sys': <module 'sys' (built-in)>,
 '_i38': 'x is y',
 '_38': True,
 '_i39': 'x = y\nx is y',
 '_39': True,
 '_i40': 'x = 100\ny = x\n\nx = 200\ny',
 '_40': 100,
 '_i41': "x = {'a':1, 'b':2, 'c':3}\ny = x\n\nx = {'x':100, 'y':200}\ny",
 '_41': {'a': 1, 'b': 2, 'c': 3},
 '_i42': "x = {'a':1, 'b':2, 'c':3}\ny = x\n\nx['d'] = 4000\ny",
 '_42': {'a': 1, 'b': 2, 'c': 3, 'd': 4000},
 '_i43': 'first = \'Reuven\'\nlast = \'Lerner\'\n\nprint("Hello, " + first + " " + last + \'.  How are you?\')',
 'first': 'Reuven',
 'last': 'Lerner',
 '_i44': "print(f'Hello, {first} {last}.  How are you?')",
 '_i45': "number = 100\n\nprint(f'{name}, your number is {number}')",
 'number': 100,
 '_i46': "number = 100\n\nprint(f'{first}, your number is {number}')",
 '_i47': "print(f'{first}, your number * 3 is {number*3}')",
 '_i48': 'mylist = [10, 20, 30, 40, 50]\n\n30 in mylist',
 'mylist': [10, 20, 30, 40, 50],
 '_48': True,
 '_i49': 'mylist = [10, 20, 30, 40, 50]\n\n30 in mylist   # O(n)',
 '_49': True,
 '_i50': '30 in 100',
 '_i51': "d = {'a':1, 'b':2, 'c':3, 'd':4}\n\n'c' in d",
 'd': {'a': 1, 'bcd': 2345, 'ef': 67890, 'g': 1234},
 '_51': True,
 '_i52': "d = {}\nd['a'] = 1  ",
 '_i53': "hash('a')",
 '_53': -8524206456043343855,
 '_i54': "hash('a') % 8",
 '_54': 1,
 '_i55': "d['b'] = 2\nhash('b') % 8",
 '_55': 1,
 '_i56': 'd = {}',
 '_i57': "d['a'] = 1",
 '_i58': "hash('a') % 8",
 '_58': 1,
 '_i59': "'a' in d",
 '_59': True,
 '_i60': "d['x'] = 2\nhash('x') % 8",
 '_60': 2,
 '_i61': "d.pop('a')",
 '_61': 1,
 '_i62': "d['a'] = 999\nd.keys()",
 '_62': dict_keys(['x', 'a', 'q']),
 '_i63': 'd[mylist] = 100',
 '_i64': '# github.com/reuven/radware-0120',
 '_i65': "bool('abcd')",
 '_65': True,
 '_i66': "bool('')",
 '_66': False,
 '_i67': "int('123')",
 '_67': 123,
 '_i68': "float('123')",
 '_68': 123.0,
 '_i69': 'bool([10, 20, 30])',
 '_69': True,
 '_i70': 'bool([])',
 '_70': False,
 '_i71': 'bool(d)',
 '_71': True,
 '_i72': 'bool({})',
 '_72': False,
 '_i73': 'd = {\'a\':1, \'b\':2, \'c\':3}\n\nwhile key = input("Enter key: ").strip():\n\n    if key in d:\n        print(f\'d[{key}] == {d[key]}\')\n        \n    else:\n        print(f\'{key} is not a key in d\')',
 '_i74': 'd',
 '_74': {'x': 2, 'a': 999, 'q': 200},
 '_i75': "d['q']",
 '_i76': "d.get('q') # if 'q' in d, d['q'] else None",
 '_i77': "d.get('q', 'abcd') # if 'q' in d, d['q'] else 'abcd'",
 '_77': 'abcd',
 '_i78': 'd',
 '_78': {'x': 2, 'a': 999, 'q': 200},
 '_i79': "d.setdefault('q', 100)",
 '_79': 100,
 '_i80': 'd',
 '_80': {'x': 2, 'a': 999, 'q': 200},
 '_i81': "d['q'] = 200",
 '_i82': "d = {'a':1, 'b';2, 'c':3}\nd.setdefault('q', 100)",
 '_i83': "d = {'a':1, 'b':2, 'c':3}\nd.setdefault('q', 100)",
 '_83': 100,
 '_i84': 'd',
 '_84': {'a': 1, 'b': 2, 'c': 3, 'q': 100},
 '_i85': "d.setdefault('q', 200)",
 '_85': 100,
 '_i86': 'rainfall = {}\nwhile True:\n    city_name = input("Enter city: ").strip()\n    if not city_name:\n        break\n        \n    mm_rain = input("Enter mm rain: ").strip()\n    rainfall[city_name] = mm_rain\n    \nprint(rainfall)',
 'rainfall': {'a': 12, 'b': 6},
 'city_name': '',
 'mm_rain': 7,
 '_i87': 'rainfall = {}\nwhile True:\n    city_name = input("Enter city: ").strip()\n    if not city_name:\n        break\n        \n    mm_rain = input("Enter mm rain: ").strip()\n    rainfall[city_name] += mm_rain\n    \nprint(rainfall)',

In [123]:
x = 100
y = 'abcd'

In [124]:
globals()['x']

100

In [125]:
globals()['y']

'abcd'

In [126]:
globals()['x'] = 234

In [127]:
x

234

In [128]:
from collections import defaultdict

In [129]:
d = defaultdict(0)

TypeError: first argument must be callable or None

In [130]:
x = 5
x()

TypeError: 'int' object is not callable

In [131]:
callable(x)

False

In [132]:
callable(callable)

True

In [133]:
d = defaultdict(int)

In [134]:
int()

0

In [135]:
str()

''

In [136]:
list()

[]

In [137]:
tuple()

()

In [138]:
dict()

{}

In [139]:
d = defaultdict(int)
d['a']

0

In [140]:
d['b'] += 10

In [141]:
d

defaultdict(int, {'a': 0, 'b': 10})

In [142]:
import time
time.time()

1578217731.774465

In [143]:
d = defaultdict(time.time)

In [144]:
d['a']

1578217745.5075781

In [145]:
d['b']

1578217746.952878

In [146]:
d['c']

1578217747.863679

In [ ]:
Went to: Chicago, USA
Went to: Boston, USA
Went to: Beijing, China
Went to: Shanghai, China
Went to: <enter>
    
{'USA': ['Chicago', 'Boston'],
 'China': ['Beijing', 'Shanghai']}    

USA
    Chicago
    Boston
China
    Beijing
    Shanghai

In [147]:
# github.com/reuven/radware-0120

from collections import defaultdict
all_places = defaultdict(list)

while True:
    one_place = input("Where did you go: ").strip()
    
    if not one_place:
        break
        
    if one_place.count(',') != 1:
        print("Use city, country")
        continue
        
    one_city, one_country = one_place.split(',')
    all_places[one_country.strip()].append(one_city.strip())

Where did you go: Chicago, USA
Where did you go: Boston, USA
Where did you go: Beijing, China
Where did you go: Shanghai, China
Where did you go:

In [148]:
all_places

defaultdict(list,
            {'USA': ['Chicago', 'Boston'], 'China': ['Beijing', 'Shanghai']})

In [153]:
for one_country, all_cities in sorted(all_places.items()):
    print(one_country)
    for one_city in sorted(all_cities):
        print(f'\t{one_city}')

China
	Beijing
	Shanghai
USA
	Boston
	Chicago

In [154]:
from collections import OrderedDict

In [155]:
from collections import Counter

In [156]:
c = Counter()
c['a'] += 5
c['b'] += 10
c['a'] += 7
c['c'] += 6

c

Counter({'a': 12, 'b': 10, 'c': 6})

In [157]:
c = Counter([10, 20, 30, 20, 30, 40, 20, 30, 40, 50, 30, 20])
c

Counter({10: 1, 20: 4, 30: 4, 40: 2, 50: 1})

In [158]:
words = 'this is a bunch of words and bunch of words is this and words are words'.split()
Counter(words)

Counter({'this': 2,
         'is': 2,
         'a': 1,
         'bunch': 2,
         'of': 2,
         'words': 4,
         'and': 2,
         'are': 1})

In [159]:
c = Counter(words)

for key, value in c.items():
    print(f'{key}: {value}')

this: 2
is: 2
a: 1
bunch: 2
of: 2
words: 4
and: 2
are: 1

In [160]:
c.most_common()

[('words', 4),
 ('this', 2),
 ('is', 2),
 ('bunch', 2),
 ('of', 2),
 ('and', 2),
 ('a', 1),
 ('are', 1)]

In [161]:
c.most_common(3)

[('words', 4), ('this', 2), ('is', 2)]

In [162]:
person = {'first':'Reuven', 'last':'Lerner',
         'shoesize':46}

person['first']

'Reuven'

In [163]:
person = ('Reuven', 'Lerner', 46)

person[0]

'Reuven'

In [164]:
person[1]

'Lerner'

In [165]:
person[2]

46

In [166]:
from collections import namedtuple

In [167]:
Person = namedtuple('Person', ['first', 'last', 'shoesize'])

In [168]:
p = Person('Reuven', 'Lerner', 46)
p.first

'Reuven'

In [169]:
p.last

'Lerner'

In [170]:
p.shoesize

46

In [171]:
p.shoesize = 47

AttributeError: can't set attribute

In [172]:
p[2]

46

In [173]:
p._replace(shoesize=47)

Person(first='Reuven', last='Lerner', shoesize=47)

In [174]:
p2 = p._replace(shoesize=47)

In [175]:
t = (10, 20, 30)

In [176]:
t = (100, 200, 300)
t

(100, 200, 300)

In [177]:
t += (400, 500)
t

(100, 200, 300, 400, 500)

In [178]:
t = ([10, 20, 30],
    [100, 200, 300])

In [179]:
t[0].append(40)
t

([10, 20, 30, 40], [100, 200, 300])

In [180]:
t[0] += [50, 60, 70]

TypeError: 'tuple' object does not support item assignment

In [181]:
t

([10, 20, 30, 40, 50, 60, 70], [100, 200, 300])

In [182]:
t[0][0]

10

In [183]:
t[0][0] = '!!!'
t

(['!!!', 20, 30, 40, 50, 60, 70], [100, 200, 300])

In [184]:
s = 'abcd'
s.upper()

'ABCD'

In [185]:
x = s.upper()
type(x)

str

In [186]:
x

'ABCD'

In [187]:
x = s.upper

In [188]:
type(x)

builtin_function_or_method

In [189]:
x

In [190]:
x()

'ABCD'

In [191]:
s.upper()

'ABCD'

In [192]:
str.upper(s)

'ABCD'

In [193]:
x = str.upper

In [194]:
x

In [195]:
type(x)

method_descriptor

In [196]:
x('xyz')

'XYZ'

In [197]:
x()

TypeError: descriptor 'upper' of 'str' object needs an argument

In [198]:
help(str.upper)

Help on method_descriptor:

upper(self, /)
    Return a copy of the string converted to uppercase.

In [199]:
def hello():
    print("Hello!")

In [200]:
hello()

Hello!

In [201]:
hello = 7

hello()

TypeError: 'int' object is not callable

In [202]:
def hello():
    print("Hello!")

In [203]:
hello()

Hello!

In [204]:
x = hello()

type(x)

Hello!

NoneType

In [205]:
def hello():
    return "Hello!"

In [206]:
hello()

'Hello!'

In [207]:
def foo():
    return (10, 20, 30)

foo()

(10, 20, 30)

In [208]:
x,y,z = foo()

In [209]:
x

10

In [210]:
y

20

In [211]:
z

30

In [213]:
def foo():
    return 'ok', {'status':200, 'text':'Hello'}

foo()

('ok', {'status': 200, 'text': 'Hello'})

In [214]:
status_code, detail = foo()

In [215]:
status_code

'ok'

In [216]:
detail

{'status': 200, 'text': 'Hello'}

In [217]:
hello??

In [218]:
print??

In [219]:
def hello():
    return 'Hello'

In [220]:
help(hello)

Help on function hello in module __main__:

hello()

In [221]:
def hello():
    '''This is the best function ever written!
    
    It is so friendly it deserves a two-line docstring!'''
    return 'Hello'

In [222]:
hello()

'Hello'

In [223]:
help(hello)

Help on function hello in module __main__:

hello()
    This is the best function ever written!

    It is so friendly it deserves a two-line docstring!

In [224]:
hello()

'Hello'

In [225]:
hello.__doc__

'This is the best function ever written!\n    \n    It is so friendly it deserves a two-line docstring!'

In [226]:
hello.__doc__ = 'Haha ha I hijacked your doc!'

In [227]:
help(hello)

Help on function hello in module __main__:

hello()
    Haha ha I hijacked your doc!

In [228]:
hello('world')

TypeError: hello() takes 0 positional arguments but 1 was given

In [229]:
hello.__code__.co_argcount

0

In [230]:
def hello(name):
    return f'Hello, {name}'

In [231]:
hello('world')  # positional argument

'Hello, world'

In [232]:
hello(name='world')   # keyword argument

'Hello, world'

In [233]:
hello.__code__.co_argcount

1

In [234]:
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [235]:
hello.__code__.co_varnames

('name',)

In [236]:
def mysum(numbers):
    total = 0
    for one_number in numbers:
        total += one_number
    return total

In [237]:
mysum([10, 20, 30])

60

In [238]:
mysum((10, 20, 30, 40, 50))

150

In [239]:
mysum({1,2,3,4,5})

15

In [240]:
mysum({1:'a', 2:'b', 3:'c'})

6

In [241]:
len(mylist)

5

In [242]:
len('abcd')

4

In [243]:
def hello(name):
    return f'Hello, {name}'

In [244]:
hello('world')

'Hello, world'

In [245]:
hello([10, 20, 30])

'Hello, [10, 20, 30]'

In [246]:
hello(hello)

'Hello, <function hello at 0x1142b0680>'

In [247]:
def hello(name):
    if type(name) == str:
        return f'Hello, {name}'
    else:
        raise TypeError("Hey!  I wanted a string!")

In [248]:
def mul(a, b):
    return a * b

In [249]:
mul(10, 3)

30

In [250]:
mul('a', 5)

'aaaaa'

In [251]:
mul('a', 'b')

TypeError: can't multiply sequence by non-int of type 'str'

In [253]:
def firstlast(data):
    return data[:1] + data[-1:]

print(firstlast('abcde'))       # 'ae'
print(firstlast([10, 20, 30]))  # [10, 30]
print(firstlast((2,4,6,8,10)))  # (2, 10)

ae
[10, 30]
(2, 10)

In [254]:
def add(a, b):
    return a + b

print(add(10, 3))
print(add(7, 5))
print(add(3, 2))

13
12
5

In [255]:
print(add(10))

TypeError: add() missing 1 required positional argument: 'b'

In [256]:
def add(a, b=2):
    return a + b

print(add(10, 3))
print(add(7, 5))
print(add(3, 2))

13
12
5

In [257]:
add(10)

12

In [258]:
add.__defaults__

(2,)

In [259]:
def add(a=2, b):
    return a + b

SyntaxError: non-default argument follows default argument (<ipython-input-259-491c9c017d20>, line 1)

In [260]:
x = 100

def foo(y):
    y = 200
    
foo(x)
x

100

In [261]:
x = [10, 20, 30]

def foo(y):
    y.append(40)
    
foo(x)
x

[10, 20, 30, 40]

In [262]:
mylist = [10, 20, 30]

def add_one(x):
    x.append(1)
    return x

add_one(mylist)

[10, 20, 30, 1]

In [263]:
mylist

[10, 20, 30, 1]

In [264]:
add_one(mylist)

[10, 20, 30, 1, 1]

In [265]:
mylist

[10, 20, 30, 1, 1]

In [266]:
def add_one(x=[]):
    x.append(1)
    return x

add_one()

[1]

In [267]:
add_one()

[1, 1]

In [268]:
add_one()

[1, 1, 1]

In [269]:
def add_one(x=[]):
    x.append(1)
    return x

In [270]:
add_one.__defaults__

([],)

In [271]:
add_one()

[1]

In [272]:
add_one.__defaults__

([1],)

In [273]:
mylist = [10, 20, 30]
add_one(mylist)

[10, 20, 30, 1]

In [274]:
mylist

[10, 20, 30, 1]

In [275]:
add_one.__defaults__

([1],)

In [ ]:
# def add_one(x=None):
#     if x is None:
#         x = []
#     x.append(1)
#     return x

In [276]:
def add_one(x=[]):
    x.append(1)
    return x

In [ ]:
add_one()

In [277]:
add_one.__code__.co_argcount

1

In [278]:
add_one.__defaults__

([],)

In [ ]:
x = add_one.__defaults__[0]

In [279]:
def mysum(numbers):
    total = 0
    for one_number in numbers:
        total += one_number
    return total

mysum([10, 20, 30, 40, 50])

150

In [280]:
mysum(10, 20, 30, 40, 50)

TypeError: mysum() takes 1 positional argument but 5 were given

In [284]:
def mysum(a=0, b=0, c=0, d=0, e=0, f=0, g=0, h=0):
    return a + b + c + d + e + f + g + h

mysum(10, 20, 30, 40, 50)

150

In [285]:
mysum(10, 20, 30, 40, 50, 60)

210

In [287]:
def mysum(*numbers):
    print(f'numbers = {numbers}')
    total = 0
    for one_number in numbers:
        total += one_number
    return total

mysum(10, 20, 30, 40, 50)

numbers = (10, 20, 30, 40, 50)

150

In [288]:
def foo(a, b, c, d=10, *args):
    print(f'a={a}, b={b}, c={c}, d={d}, args={args}')

In [289]:
foo(10, 20, 30, 40, 50, 60)

a=10, b=20, c=30, d=40, args=(50, 60)

In [290]:
foo(10, 20, 30)

a=10, b=20, c=30, d=10, args=()

In [291]:
def foo(a, b, c, *args, d=10):
    print(f'a={a}, b={b}, c={c}, d={d}, args={args}')

In [292]:
foo(10, 20, 30, 40, 50)

a=10, b=20, c=30, d=10, args=(40, 50)

In [293]:
foo(10, 20, 30, 40, 50, d=999)

a=10, b=20, c=30, d=999, args=(40, 50)

In [294]:
# splat-args  

foo(d=999, 10, 20, 30, 40, 50)

SyntaxError: positional argument follows keyword argument (<ipython-input-294-c5bef95e28d9>, line 3)

In [295]:
foo(10, 20, 30, d=999, 40, 50)

SyntaxError: positional argument follows keyword argument (<ipython-input-295-71720c13b62f>, line 1)

In [296]:
# **kwargs  --- keyword arguments

def add(a, b):
    return a + b

In [297]:
add(10, 3)

13

In [298]:
add(a=10, b=3)

13

In [299]:
add(b=3, a=10)

13

In [300]:
add(a=10, b=3, c=20)

TypeError: add() got an unexpected keyword argument 'c'

In [301]:
def foo(a, **kwargs):
    print(f'a={a}, kwargs={kwargs}')

In [303]:
foo(3)

a=3, kwargs={}

In [304]:
foo(3, x=100, y=200, z=300)

a=3, kwargs={'x': 100, 'y': 200, 'z': 300}

In [305]:
def write_config(filename, **kwargs):
    with open(filename, 'w') as f:
        for key, value in kwargs.items():
            f.write(f'{key}={value}\n')

In [306]:
write_config('myconfig.txt', a=100, b=200, c=300, d=400)

In [307]:
%cat myconfig.txt

a=100
b=200
c=300
d=400

In [313]:
def mysum(numbers):
    print(f'numbers = {numbers}')
    total = 0
    for one_number in numbers:
        total += one_number
    return total

mysum.__code__.co_argcount

1

In [314]:
mysum.__code__.co_flags

67

In [311]:
def mysum(*numbers):
    print(f'numbers = {numbers}')
    total = 0
    for one_number in numbers:
        total += one_number
    return total

mysum.__code__.co_argcount

0

In [312]:
mysum.__code__.co_flags

71

In [315]:
def foo(a=10, b=20, c=30, d=40):
    print(f'a={a}, b={b}, c={c}, d={d}')

In [316]:
foo()

a=10, b=20, c=30, d=40

In [317]:
foo(999, 888)

a=999, b=888, c=30, d=40

In [318]:
foo(b=999, d=888)

a=10, b=999, c=30, d=888

In [319]:
def foo(a, b, c=30, d=40):
    print(f'a={a}, b={b}, c={c}, d={d}')

In [320]:
foo(999, 888)

a=999, b=888, c=30, d=40

In [321]:
def mysum(*numbers):
    print(f'numbers = {numbers}')
    total = 0
    for one_number in numbers:
        total += one_number
    return total
mysum(10, 20, 30)

numbers = (10, 20, 30)

60

In [322]:
my_nums = [10, 20, 30]
mysum(my_nums)

numbers = ([10, 20, 30],)

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [323]:
mysum(*my_nums)

numbers = (10, 20, 30)

60

In [331]:
def xml(tagname, text='', **kwargs):
    attributes = ''
    for key, value in kwargs.items():
        attributes += f' {key}="{value}"'
    return f'<{tagname}{attributes}>{text}</{tagname}>'


print(xml('foo'))               # first argument = tagname
# <foo></foo>

print(xml('foo', 'bar'))        # second (optional) argument = content
# # # # <foo>bar</foo>

print(xml('a',
          xml('b',
              xml('c', 'hello'))))
# # # # # # <a><b><c>hello</c></b></a>

# # # # kwargs become attributes in opening tag

print(xml('tag', 'text', a=1, b=2, c=3))

# # # # <tag a="1" b="2" c="3">text</tag>

print(xml('tag', 'text', a=1, b=2))
# # # # <tag a="1" b="2">text</tag>

print(xml('tag', a=1, b=2))
# # # # # <tag a="1" b="2"></tag>

<foo></foo>
<foo>bar</foo>
<a><b><c>hello</c></b></a>
<tag a="1" b="2" c="3">text</tag>
<tag a="1" b="2">text</tag>
<tag a="1" b="2"></tag>